<%- include('templet/header');-%>
<img class="forgotPasswordIcon"src="forgotpassword.png" alt="">
<br>
<label for="email">Email</label>
<br>
<input type="email" id="email" name="email" placeholder="Email" required>
<br>
<label for="newPassword">New Password</label>
<br>
<input type="text" id="newPassword" name="newPassword" placeholder="New password" required>
<br>
<label for="OneTimePassword">OTP</label>
<br>
<input type="text" id="OneTimePassword" name="OneTimePassword" placeholder="OTP" required>
<br>

<button>Submit</button>

<%- include('templet/footer');-%>
