<%- include('templet/header');-%>
<!-- <img class="forgotPasswordIcon" src="forgotpassword.png" alt=""> -->
<h6 class="forgetPasswordTitle">Forget Password</h1>
<br>
<label for="email">Email</label>
<br>
<input type="email" id="email" name="email" placeholder="Email" required>
<br>
<label for="newPassword">New Password</label>
<br>
<input type="text" id="newPassword" name="newPassword" placeholder="New password" required>
<br>
<label for="OneTimePassword">OTP</label>
<br>
<input type="text" id="OneTimePassword" name="OneTimePassword" placeholder="OTP" required>
<br>
<a href="" class="GenerateOTP">Generate OTP</a>

<br>

<button type="button" >Submit</button>

<%- include('templet/footer');-%>
