*{
    margin: 0;
    padding:0;
}

body{
    font-size: 10px;
    background-color: #EAFDFC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formdiv{
    background-color:#BFEAF5;
    height: 20rem;
    width:25rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    border: 1px solid red;
}

.forgotPasswordIcon{
    border-radius: 50%;
    height: 3rem;
    margin: 0% 10% 10% 10%;
    position: relative;
    top: 1rem;
}
.loginImage{
    height: 3rem;
    margin: 0% 10% 10% 10%;
  
}
.form{
    font-size: 1.3rem;
    text-align: center;
  
    

}

label{
    margin:0.5rem;
}

input{
    margin: 0.5rem;
        text-align: center;
        height: 2%;
        border-radius: 4%;
        padding-top: 0.5rem;
        border: 1px solid grey;
    
}
.forgetPassword{
    font-size: medium;
}
button{
    
    margin :8%;
    height: 2.2rem;
    width: 4.5rem;
    background-color:#D7E9B9;
    border-radius: 4%;
}